@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --color-white: #f8fafc;
  --color-1: #d9eafd;
  --color-2: #bcccdc;
  --color-3: #9aa6b2;
  --shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind Madurai", sans-serif;
  background-color: var(--color-white);
  overflow-x: hidden;
}

.textbold {
  font-weight: 700;
  font-size: 1.8rem;
  padding-right: 1rem;
}

p {
  font-size: 1rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
}

hr {
  border: 0;
  height: 2px;
  background-color: #000; /* black */
  font-weight: 900;
}

nav {
  background-color: var(--color-white) !important;
  box-shadow: var(--shadow);
}

.container1 {
  background-color: var(--color-1);
  position: relative;
  z-index: 2;
}

.container1 .row1 {
  height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.container1 .row1 h1 {
  font-weight: 700;
  line-height: 20px;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.container1 .row1 span {
  font-size: 1.1rem;
  line-height: 50px;
  font-weight: 500;
  margin-bottom: 1rem;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: 3px;
    opacity: 1;
  }
}

.container1 .row2 {
  height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.container1 .row2 h1 {
  font-weight: 700;
  line-height: 20px;
  animation: tracking-in-contracts 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-timeline: view();
}

.container1 .row2 span {
  font-size: 1.1rem;
  line-height: 50px;
  font-weight: 500;
  margin-bottom: 1rem;
  animation: tracking-in-contracts 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-timeline: view();
}

@keyframes tracking-in-contracts {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    letter-spacing: 3px;
    opacity: 1;
  }
}

.row1 button {
  background-color: var(--color-2);
  width: 6rem;
  height: 3rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer; /* Makes it clickable */
  padding: 1rem;
  font-weight: 500;
  box-shadow: var(--shadow);
}

.row1 button .material-icons-outlined {
  font-size: 1.5rem; /* Adjust icon size */
  display: flex;
  justify-content: center;
  height: 2rem;
}

.containermanualdesc .img img {
  width: 100%;
  margin-bottom: 1rem;
  animation: scale 0.5s both;
  animation-timeline: view();
}

.containermanualdesc h3 {
  animation: h2animation 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-timeline: view();
}

.landingpage p {
  animation: scale 0.5s both;
  animation-timeline: view();
}

.containermanualdesc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.webdesc h2 {
  animation: h2animation 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-timeline: view();
}

.webdesc p {
  animation: scale 0.5s both;
  animation-timeline: view();
}

.container2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.container2 h2 {
  animation: h2animation 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-timeline: view();
}

@keyframes h2animation {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  50% {
    letter-spacing: 8px;
    opacity: 1;
  }

  100% {
    letter-spacing: 8px;
    opacity: 1;
  }
}

.container2 p {
  animation: scale 0.5s both;
  animation-timeline: view();
}

.container2 .img img {
  width: 100%;
  animation: scale 0.5s both;
  animation-timeline: view();
}

.container2 .col1 {
  display: flex;
  align-items: center;
}

.container2 .col2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container2 .col2 img {
  width: 100%;
}

.container2 .col1 p {
  animation: lefttoright 0.8s both;
  animation-timeline: view();
}

.container2 .col2 .img1 {
  animation: righttoleft 0.8s both;
  animation-timeline: view();
}

.container2 .col2 .img2 {
  animation: righttoleft 0.8s both;
  animation-timeline: view();
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes righttoleft {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Start from the right */
  }

  30% {
    opacity: 1;
    transform: translateX(0); /* Move to the original position */
  }

  100% {
    opacity: 1;
    transform: translateX(0); /* Stay at the original position */
  }
}

@keyframes lefttoright {
  0% {
    opacity: 0;
    transform: translateX(-100%); /* Start from the right */
  }

  30% {
    opacity: 1;
    transform: translateX(0); /* Move to the original position */
  }

  100% {
    opacity: 1;
    transform: translateX(0); /* Stay at the original position */
  }
}
